<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta name="author" content="ONEM">
    <meta name="keyword" content=" emploi, travail, offre, demandeur, chomage, social">
    <meta name="google-site-verification" content="mqgD4RWbE50WPEtYzEUxENBjXo4iBxlXQgtH0p3ccJ0" />
    <meta name="msvalidate.01" content="EBA711D79CEE55F42B3FFB77429ABFBB" />
    
    
  
    <meta property="og:url" content="https://onem.cd/compte/enregistrement/demandeur" />
  
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Office National de l'Emploi / ONEM RDC" />
    <meta property="og:description" content="Service Public de l'Emploi de la République Démocratique du Congo." />
    <meta property="og:image" content="https://onem.cd/static/web/img/favicon.png" />
    
  
    <meta name="twitter:site" content="@onemrdc" />
    <meta name="twitter:creator" content="@onemrdc" />
    <meta name="twitter:url" content="https://onem.cd/compte/enregistrement/demandeur" />
  
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Office National de l'Emploi / ONEM RDC" />
    <meta name="twitter:description" content="Service Public de l'Emploi de la République Démocratique du Congo." />
    <meta name="twitter:image" content="https://onem.cd/static/web/img/favicon.png" />
    
  
    
    <meta name="description" content=" | Office National de l'Emploi, Service Public de l'Emploi de la RDC">
    
  
    
  <title>Enregistrement Démandeur d'emploi - Office National de l'Emploi - ONEM RDC</title>
  
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://onem.cd/static/web/images/favicon.png" type="image/x-icon">
  
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/ded9473e32.js"></script>
  
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Owl Carousel CSS 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">-->
    
    <!---->
    <link rel="stylesheet" href="https://onem.cd/static/web/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://onem.cd/static/web/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://onem.cd/static/web/css/magnific-popup.css">
    <link rel="stylesheet" href="https://onem.cd/static/web/css/aos.css"> 
    <link rel="stylesheet" href="https://onem.cd/static/web/css/animate.css">
    <link rel="stylesheet" href="https://onem.cd/static/web/css/fa.min.css">
    <link rel="stylesheet" href="https://onem.cd/static/web/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://onem.cd/static/web/css/jquery.timepicker.css">
    
    <link rel="stylesheet" href="https://onem.cd/static/web/css/style.css">
  
   
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85102763-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
  
      gtag('config', 'UA-85102763-3');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2269210081600079",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body class="bg-gray-100">
    <div class="fixed-top">
      <div class="bg-top d-none d-md-block navbar-light">
        <div class="container">
          <div class="row no-gutters d-flex align-items-center align-items-stretch">
            <div class="col-md-4 col-sm-12 d-flex align-items-center py-1 text-center">
              <a href="{{ url_for('main.index') }}">
                <img height="90" src="https://onem.cd/static/web/images/logo.png" alt="LOGO">
              </a>
            </div>
            <div class="col-md-4 d-flex align-items-center text-center pt-4">
              <p style="font-size:25px; color:#1b9eda; margin-left:-32%">Service Public de l'Emploi de la RDC</p>
            </div>
            <div class="col-md-4 text-right py-1">
              <!--
              <div class="carousel-sponsors owl-carousel">
                <div class="item">
                  <a href="">
                    <img height="100" src="https://onem.cd/static/web/images/sponsors/sponsor1.jpg" alt="LOGO">
                  </a>
                </div>
                <div class="item">
                  <a href="">
                    <img height="100" src="https://onem.cd/static/web/images/sponsors/sponsor2.jpg" alt="LOGO">
                  </a>
                </div>
                <div class="item">
                  <a href="https://www.citoyencongolais.net" target="_blank">
                    <img height="100" src="https://onem.cd/static/web/images/sponsors/sponsor3.jpg" alt="LOGO">
                  </a>
                </div>
                <div class="item">
                  <img height="100" src="https://onem.cd/static/web/images/sponsors/sponsor4.jpg" alt="LOGO">
                </div>
                <div class="item">
                  <img height="100" src="https://onem.cd/static/web/images/sponsors/sponsor5.jpg" alt="LOGO">
                </div>
                <div class="item">
                  <img height="100" src="https://onem.cd/static/web/images/sponsors/sponsor6.jpg" alt="LOGO">
                </div>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark blue-bg ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span> Menu
          </button>
          <a class="d-md-none" href="/">
            <img style="border: 4px solid #fff;" height="45" src="https://onem.cd/static/web/images/logo.png" alt="LOGO">
          </a>
          <div class="order-lg-last">
            
  
  <a class="nav-link border border-light rounded waves-effect ml-2 text-white" href="/compte/login/">
      <i class="fas fa-sign-in-alt mr-2"></i>Mon espace
  </a>
  
          </div>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ONEM <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="dropdown-item" href="/page/mot-du-dg/">MOT DU DIRECTEUR GENERAL</a></li>
                  <li><a class="dropdown-item" href="/page/qui-sommes-nous/">QUI SOMMES-NOUS</a></li>
                  <li><a class="dropdown-item" href="/page/nos-services/">NOS SERVICES</a></li>
                  <li><a class="dropdown-item" href="/page/nous-trouver/">NOUS TROUVER</a></li>
                  <hr style="margin:1px;">
                  <li><a class="dropdown-item" href="/articles/">ACTUALITES</a></li>
                  <li><a class="dropdown-item" href="/page/service-statistiques/">STATISTIQUES</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">DEMANDEURS D'EMPLOI <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="dropdown-item" href="{{ url_for('main.register_job_seeker') }}">S'ENREGISTRER A L'ONEM</a></li>
                  <li><a class="dropdown-item" href="/offres/">OFFRES D'EMPLOI</a></li>
                  <li><a class="dropdown-item" href="/page/carte-demandeur/">CARTE DE DEMANDEUR</a></li>
                  <li><a class="dropdown-item" href="/formations/">FORMATIONS ET
                      STAGES</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">EMPLOYEURS <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="dropdown-item" href="/compte/enregistrement/employeur">S'IDENTIFIER A L'ONEM</a></li>
                  <li><a class="dropdown-item" href="/compte/login/">PUBLIER UNE OFFRE D'EMPLOI</a></li>
                  <hr style="margin:1px;">
                  <li><a class="dropdown-item" href="/page/service-contrats-travail/">CONTRATS DE
                      TRAVAIL</a></li>
                  <li><a class="dropdown-item" href="/page/contribution-patronale/">CONTRIBUTION
                      PATRONALE</a></li>
                  <li><a class="dropdown-item" href="/page/services-prives-placement/">SERVICE PRIVE
                      DE PLACEMENT</a></li>
                  <li><a class="dropdown-item" href="/page/mouvement-de-travailleurs/">MOUVEMENT DE
                      TRAVAILLEURS</a></li>
                  <li><a class="dropdown-item" href="/page/declaration-main-doeuvre/">DECLARATION DE
                      LA MAIN D'OEUVRE</a></li>
                  <hr style="margin:1px;">
                  <li><a class="dropdown-item" href="/telechargements/">TELECHARGEMENTS</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">GOUVERNEMENT <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-item" href="/page/le-ministere/">LE MINISTERE DE L'ETPS</a></li>
                  <li><a class="dropdown-item" href="/page/textes-reglementaires/">TEXTES ET
                      REGLEMENTATIONS</a></li>
                  <li><a class="dropdown-item" href="/page/projets/">PROJETS</a></li>
                  <li><a class="dropdown-item" href="/page/partenaires/">PARTENAIRES</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">PROGRAMMES <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="dropdown-item" href="/page/programme-ped/">PED</a></li>
                  <li><a class="dropdown-item" href="/page/programme-pejab/">PEJAB</a></li>
                  <li><a class="dropdown-item" href="/page/programme-parbds/">PARBDS</a></li>
                  <li><a class="dropdown-item" href="/page/programme-ptre/">PTRE</a></li>
                  <li><a class="dropdown-item" href="/page/programme-pops/">POPS</a></li>
                  <li><a class="dropdown-item" href="/page/programme-pome/">POME</a></li>
                </ul>
              </li>
              <li class="nav-item"><a href="/contacts/" class="nav-link">CONTACTS</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- END nav -->
    <div class="container mx-auto mt-4">
      {% block content %}{% endblock %}
    </div>
  </body>
    <!-- local scripts -->
    <script src="https://onem.cd/static/web/js/jquery.min.js"></script>
    <script src="https://onem.cd/static/web/js/popper.min.js"></script>
    <script src="https://onem.cd/static/web/js/bootstrap.min.js"></script>
    <script src="https://onem.cd/static/web/js/owl.carousel.min.js"></script>
    <script src="https://onem.cd/static/web/js/aos.js"></script>
    <script src="https://onem.cd/static/web/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="https://onem.cd/static/web/js/jquery.easing.1.3.js"></script>
    <script src="https://onem.cd/static/web/js/jquery.waypoints.min.js"></script>
    <script src="https://onem.cd/static/web/js/jquery.stellar.min.js"></script>
    <script src="https://onem.cd/static/web/js/jquery.magnific-popup.min.js"></script>
    <script src="https://onem.cd/static/web/js/fa.min.js"></script>
    <script src="https://onem.cd/static/web/js/jquery.animateNumber.min.js"></script>
    <script src="https://onem.cd/static/web/js/jquery.timepicker.min.js"></script>
    <script src="https://onem.cd/static/web/js/scrollax.min.js"></script>
  
    <script src="https://onem.cd/static/web/js/main.js"></script>
  
    
  <script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover({
    trigger: 'hover',
    html: true
  })
  })
  </script>
</html>
